// SCSS Start
.error {

  @include display-flex;
  @include flex-direction(row);
  @include justify-content(center);

  align-items: center;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  &#{__container} {

    @extend %maximum;
    @include flex(1);

    @media ($media-desktop) {
      margin: 0 32px;
    }

    .container__article {

      @extend %center;

      background-color: $black;
      margin: 0 16px;
      padding: 1em 16px;

      @media ($media-smartphone) {
        margin: 0 auto;
        max-width: 38%;
      }

      @media ($media-desktop) {
        margin: 0 0 0 auto;
      }

      .article__body,
      .article__title {

        @extend %body;
      }

      .article__body {
        color: $blue;
        font-size: $font-size-cookies-1;
        line-height: $font-size-preloader;
        margin: 0;

        @media ($media-desktop) {
          font-size: $font-size-body;
          line-height: $line-height-header;
          max-height: 271px;
          overflow: hidden;

          &#{__text} {
            display: block;
          }
        }
      }

      .article__title {
        color: $beige;
        font-size: $font-size-body;
        margin: 0 0 1em;
        text-transform: capitalize;

        @media ($media-desktop) {
          font-size: $font-size-title;
        }
      }
    }
  }
}

.error--400 {

}

.error--401 {

}

.error--403 {

}

.error--404 {

}

.error--409 {

}

.error--500 {

}

// SCSS End
