// SASS Start
/* Browser Hacks Start */
/* Internet Explorer */
@media all and (-ms-high-contrast: none) {
  /* IE11 */
  /* Footer */
  *::-ms-backdrop,
  .footer {
    flex-shrink: 0;
  }

  /* IE10 */
  /* Footer */
  .footer {
    flex-shrink: 0;
  }
}

/* Edge */
@supports (-ms-accelerator:true) {

  .container__wrapper {
    -webkit-box-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;

    @media ($media-desktop) {
      -webkit-box-flex: 1 0 0;
      -ms-flex: 1 0 0;
      flex: 1 0 0;
    }
  }
}
/* Browser Hacks End */
// SASS End
