{
  "env": {
    "development": {
      "presets": [
        "next/babel",
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        "@babel/preset-typescript"
      ]
    },
    "test": {
      "presets": ["next/babel", "@babel/preset-typescript"]
    }
  }
}
